.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.idea/
.vscode/
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab
ios/Pods/
ios/.symlinks/
*.ipa
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/
.DS_Store
Thumbs.db
assets/infiltration.db
scripts/__pycache__/
